<a href="https://colab.research.google.com/github/Chaimaa482/Chaimaa482.github.io/blob/main/SparkSqlTp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.sql.functions import *
nomappli = "essai1"
config = SparkConf().setAppName(nomappli)
sc = SparkContext.getOrCreate();
sqlContext = SQLContext(sc)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [3]:
fichier = sc.textFile("/content/ngram.csv")

In [35]:
tableau = fichier.map(lambda ligne: ligne.split("\t"))

In [44]:
from pyspark.sql import Row

ngrams = tableau.map(lambda x: Row(ngram=x[0], year=int(x[1]), ngramcount=int(x[2]), pages=int(x[3]), books=int(x[4])))
schemaNGrams = sqlContext.createDataFrame(ngrams)

In [45]:
schemaNGrams.registerTempTable("ngrams")

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [49]:
#SQL :
result = sqlContext.sql("SELECT ngram FROM ngrams WHERE ngramcount > 5")

In [51]:
result.show()

+--------+
|   ngram|
+--------+
|! $17.95|
|! $17.95|
|! $17.95|
|! $17.95|
|! $17.95|
|    ! 09|
|    ! 09|
|    ! 09|
|    ! 09|
|    ! 09|
|    ! 09|
|    ! 09|
|    ! 09|
+--------+

In [52]:
#Les méthodes de l’API SparkSQL :
result = schemaNGrams.filter(schemaNGrams['ngramcount'] > 5).select('ngram')
result.show()

+--------+
|   ngram|
+--------+
|! $17.95|
|! $17.95|
|! $17.95|
|! $17.95|
|! $17.95|
|    ! 09|
|    ! 09|
|    ! 09|
|    ! 09|
|    ! 09|
|    ! 09|
|    ! 09|
|    ! 09|
+--------+

In [53]:
#SQL :
result = sqlContext.sql("SELECT year, COUNT(*) AS cnt FROM ngrams GROUP BY year")
result.show()

+----+---+
|year|cnt|
+----+---+
|1806|  1|
|1840|  1|
|1882|  1|
|2007|  2|
|1887|  1|
|1991|  2|
|1858|  1|
|1833|  1|
|1831|  1|
|1987|  2|
|1999|  2|
|1997|  2|
|1884|  1|
|1845|  1|
|1877|  1|
|1829|  1|
|1867|  1|
|2006|  2|
|1876|  1|
|1879|  1|
+----+---+
only showing top 20 rows

In [54]:
#Les méthodes de l’API SparkSQL :
result = schemaNGrams.groupBy("year").count()
result.show()

+----+-----+
|year|count|
+----+-----+
|1806|    1|
|1840|    1|
|1882|    1|
|2007|    2|
|1887|    1|
|1991|    2|
|1858|    1|
|1833|    1|
|1831|    1|
|1987|    2|
|1999|    2|
|1997|    2|
|1884|    1|
|1845|    1|
|1877|    1|
|1829|    1|
|1867|    1|
|2006|    2|
|1876|    1|
|1879|    1|
+----+-----+
only showing top 20 rows

In [55]:
#SQL :
result = sqlContext.sql("SELECT ngram, year, MAX(ngramcount) AS maxCount FROM ngrams GROUP BY ngram, year")
result.show()

+--------+----+--------+
|   ngram|year|maxCount|
+--------+----+--------+
|    ! 09|1880|       2|
|! $17.95|2008|       2|
|    ! 09|1845|       1|
|! $17.95|1995|       1|
|! $17.95|2004|      14|
|    ! 09|1780|       1|
|    ! 09|1833|       1|
|! $17.95|2007|       2|
|    ! 09|1872|       1|
|    ! 09|1861|       1|
|    ! 09|1806|       1|
|    ! 09|1882|       2|
|! $17.95|2001|       5|
|    ! 09|1881|       3|
|    ! 09|1884|       5|
|    ! 09|1823|       1|
|    ! 09|1848|       1|
|    ! 09|1887|       1|
|    ! 09|1803|       1|
|    ! 09|1877|       2|
+--------+----+--------+
only showing top 20 rows

In [56]:
#Les méthodes de l’API SparkSQL :
result = schemaNGrams.groupBy("ngram", "Year").max("ngramcount")
result.show()

+--------+----+---------------+
|   ngram|Year|max(ngramcount)|
+--------+----+---------------+
|    ! 09|1880|              2|
|! $17.95|2008|              2|
|    ! 09|1845|              1|
|! $17.95|1995|              1|
|! $17.95|2004|             14|
|    ! 09|1780|              1|
|    ! 09|1833|              1|
|! $17.95|2007|              2|
|    ! 09|1872|              1|
|    ! 09|1861|              1|
|    ! 09|1806|              1|
|    ! 09|1882|              2|
|! $17.95|2001|              5|
|    ! 09|1881|              3|
|    ! 09|1884|              5|
|    ! 09|1823|              1|
|    ! 09|1848|              1|
|    ! 09|1887|              1|
|    ! 09|1803|              1|
|    ! 09|1877|              2|
+--------+----+---------------+
only showing top 20 rows

In [57]:
#SQL :
result = sqlContext.sql("SELECT ngram FROM ngrams GROUP BY ngram HAVING COUNT(DISTINCT Year) = 20").show()

+-----+
|ngram|
+-----+
+-----+

In [58]:
#Les méthodes de l’API SparkSQL :
result = schemaNGrams.groupBy("ngram").agg(
    countDistinct("Year").alias("NumYears")
).filter("NumYears = 20").select("ngram").show()

+-----+
|ngram|
+-----+
+-----+

In [59]:
#SQL :
sqlContext.sql("SELECT distinct ngram FROM ngrams WHERE ngram LIKE '%!% %' AND ngram LIKE '% %9%'").show()

#Les méthodes de l’API SparkSQL :
schemaNGrams.filter((col("ngram").like("%!% %")) & (col("ngram").like("% %9%"))).select("ngram").distinct().show()

+--------+
|   ngram|
+--------+
|    ! 09|
|! $17.95|
+--------+

+--------+
|   ngram|
+--------+
|    ! 09|
|! $17.95|
+--------+

In [60]:
#SQL :
sqlContext.sql("SELECT ngram FROM ngrams GROUP BY ngram HAVING COUNT(DISTINCT Year) = (SELECT COUNT(DISTINCT Year) FROM ngrams)").show()

#Les méthodes de l’API SparkSQL :
distinct_years = schemaNGrams.select("Year").distinct().count()

result = schemaNGrams.groupBy("ngram").agg(countDistinct("Year").alias("distinct_years")) \
    .filter("distinct_years = {}".format(distinct_years)) \
    .select("ngram").show()

+-----+
|ngram|
+-----+
| ! 09|
+-----+

+-----+
|ngram|
+-----+
| ! 09|
+-----+

In [61]:
#SQL :
sqlContext.sql("SELECT Year, ngram, SUM(Pages) AS TotalPages, SUM(Books) AS TotalBooks FROM ngrams GROUP BY Year, ngram ORDER BY ngram ASC").show()

#Les méthodes de l’API SparkSQL :
result = (schemaNGrams
    .groupBy("Year", "ngram")
    .agg(sum("Pages").alias("TotalPages"), sum("Books").alias("TotalBooks"))
    .orderBy("ngram")
)
result.show()

+----+--------+----------+----------+
|Year|   ngram|TotalPages|TotalBooks|
+----+--------+----------+----------+
|1998|! $17.95|         3|         3|
|1992|! $17.95|         5|         5|
|1995|! $17.95|         1|         1|
|1997|! $17.95|         5|         5|
|1993|! $17.95|         2|         2|
|1987|! $17.95|         1|         1|
|1991|! $17.95|         1|         1|
|1990|! $17.95|         1|         1|
|2007|! $17.95|         2|         2|
|2004|! $17.95|        14|        14|
|1996|! $17.95|         2|         2|
|2005|! $17.95|        13|        13|
|2001|! $17.95|         4|         4|
|2003|! $17.95|         2|         2|
|1999|! $17.95|        10|        10|
|2006|! $17.95|         5|         5|
|2008|! $17.95|         2|         2|
|2000|! $17.95|         9|         9|
|2002|! $17.95|         5|         5|
|1840|    ! 09|         1|         1|
+----+--------+----------+----------+
only showing top 20 rows

+----+--------+----------+----------+
|Year|   ngram|TotalPages|TotalBooks|
+----+--------+----------+----------+
|1998|! $17.95|         3|         3|
|1992|! $17.95|         5|         5|
|1995|! $17.95|         1|         1|
|1997|! $17.95|         5|         5|
|1993|! $17.95|         2|         2|
|1987|! $17.95|         1|         1|
|1991|! $17.95|         1|         1|
|1990|! $17.95|         1|         1|
|2007|! $17.95|         2|         2|
|2004|! $17.95|        14|        14|
|1996|! $17.95|         2|         2|
|2005|! $17.95|        13|        13|
|2001|! $17.95|         4|         4|
|2003|! $17.95|         2|         2|
|1999|! $17.95|        10|        10|
|2006|! $17.95|         5|         5|
|2008|! $17.95|         2|         2|
|2000|! $17.95|         9|         9|
|2002|! $17.95|         5|         5|
|1840|    ! 09|         1|         1|
+----+--------+----------+----------+
only showing top 20 rows

In [62]:
#SQL :
result = sqlContext.sql("SELECT Year, COUNT(DISTINCT ngram) AS distinct_bigrams FROM ngrams GROUP BY Year ORDER BY Year DESC")
result.show()

#Les méthodes de l’API SparkSQL :
result = schemaNGrams.groupBy("Year").agg(countDistinct("ngram")) .orderBy("Year", ascending=False)
result.show()

+----+----------------+
|Year|distinct_bigrams|
+----+----------------+
|2008|               2|
|2007|               2|
|2006|               2|
|2005|               2|
|2004|               2|
|2003|               2|
|2002|               2|
|2001|               2|
|2000|               2|
|1999|               2|
|1998|               2|
|1997|               2|
|1996|               2|
|1995|               2|
|1993|               2|
|1992|               2|
|1991|               2|
|1990|               2|
|1987|               2|
|1985|               1|
+----+----------------+
only showing top 20 rows

+----+---------------------+
|Year|count(DISTINCT ngram)|
+----+---------------------+
|2008|                    2|
|2007|                    2|
|2006|                    2|
|2005|                    2|
|2004|                    2|
|2003|                    2|
|2002|                    2|
|2001|                    2|
|2000|                    2|
|1999|                    2|
|1998|                    2|
|1997|                    2|
|1996|                    2|
|1995|                    2|
|1993|                    2|
|1992|                    2|
|1991|                    2|
|1990|                    2|
|1987|                    2|
|1985|                    1|
+----+---------------------+
only showing top 20 rows